.faq-wrapper {
    position: relative;
    background-image: linear-gradient(to bottom, var(--color-dark-blue) 10%, var(--color-light-blue) 130%);
}

.faq-wrapper .faqs{
    padding: 30px 15px;
    background-image: url('../images/testimonials/particals.png');
    background-size: cover;
    background-position: center;
}

.faq-wrapper .faq-title {
    color: var(--color-white);
    position: relative;
    display: block;
    font-family: var(--font-family-primary);
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.050em;
    text-align: center;
    padding-bottom: 50px;
}
.faq-wrapper .faq-title:after{
content: "";
    width: 100px;
    height: 5px;
    background: var(--color-blue);
    bottom: -20px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.faq-wrapper .card{
    border: 1px solid var(--color-light-blue);
    margin-bottom: 20px;
    font-family: var(--font-family-primary);

}
.faq-wrapper .card-header {
    background-color: var(--color-dark-blue);
    
}
.faq-wrapper .card-body {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}
.faq-wrapper button {
    font-family: var(--font-family-primary);
    font-weight: 700;
    letter-spacing: 0.100em;
}

@media (min-width: 768px){
    .faq-wrapper .divider{
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIyMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiMxMDE1MzUiPjxwYXRoIGQ9Ik02NDAgMTQwTDEyODAgMEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik02NDAgOThsNjQwLTk4SDB6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 200px;
    top: 0;
    height: 200px;
    z-index: 1;
    transform: rotateY(0) rotateX(0);


    }
    .faq-wrapper .faq-title {
        font-size: 2.3rem;
        
    }
    .faq-wrapper .faqs {
        padding: 70px 15px;
    }

}