.testimonials-wrapper {
    
    position: relative;
}
.testimonials-wrapper .testimonials{
    background-image: url('../images/testimonials/particals.png');
    background-size: contain;
    background-position: top;
    background-color: var(--color-dark-blue);
    padding: 40px 0px;
}

.testimonials-wrapper .testimonials-title {
    color: var(--color-white);
    position: relative;
    display: block;
    font-family: var(--font-family-primary);
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.050em;
    text-align: center;
    padding-bottom: 5px;
}

.testimonials-wrapper .testimonials-copy {
    color: var(--color-white);
    display: block;
    text-align: center;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    line-height: 2;
    padding-bottom: 45px;
}

.testimonials-wrapper .testimonials-copy:after{ 

content: "";
    width: 100px;
    height: 5px;
    background: var(--color-blue);
    bottom: -20px;
    position: relative;
    display: block;
    margin: 0 auto;
}
.testimonials-wrapper img {
    max-width: 80px;
}

.testimonials-wrapper .testimonial {
    padding: 15px;
    box-shadow: 0px 2px 60px 0px rgb(60 60 200 / 40%);
    background: var(--color-dark-blue);
    border: 1px solid var(--color-light-blue);
    margin: 0px 15px;
}

.testimonials-wrapper .testimonial-text {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    color: rgba(255,255,255,0.8);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: var(--font-family-primary);
}

.testimonials-wrapper .testifier-name {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    color: rgba(255,255,255,1.0);
    padding-top: 5px;
    font-family: var(--font-family-primary);

}
.testimonials-wrapper .testifier-job {
    display: block;
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    color: rgba(255,255,255,0.8);
    padding-top: 5px;
    font-family: var(--font-family-primary);

}

.testimonials-wrapper [class*=col]:not(:last-of-type){
    margin-bottom: 30px;
}




@media (min-width: 768px){
    .testimonials-wrapper .testimonials {
        padding-bottom: 100px;
    }
    .testimonials-wrapper .testimonials-title {
        font-size: 2.3rem;
    }

    .testimonials-wrapper .testimonial-inner {
        display: flex;
    }
    .testimonials-wrapper .testimonial-text {
        padding-top: 0px;
    }
    .testimonials-wrapper .img-container {
        padding-right: 15px;
    }
    .testimonials-wrapper .testimonial {
        padding: 20px;
    }
    .testimonials-wrapper [class*=col]:not(:last-of-type){
        margin-bottom: 40px;
    }
}

@media (min-width: 992px){
    .testimonials-wrapper [class*=col]:not(:last-of-type){
        margin-bottom: 60px;
    }
    .testimonials-wrapper .testimonial {
        padding: 40px;
    }
}